*{ margin: 0;
    padding: 0;
    box-sizing: border-box ;
    text-decoration: none;
}

body {
    background-color: rgb(255, 255, 255);
    padding: 40px
}

@font-face {
    font-family: 'montserrat';
    src: url('Montserrat-Bold.otf') format('opentype');
    font-weight: normal;
}

h1 {
    color: rgb(20, 20, 20);
    font-family: 'montserrat';
    src: url('Montserrat-Bold.otf') format('opentype');
    font-size: 40px;
    text-align: center;
}

p {
    color: rgb(180, 180, 180);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 10px;
    text-align: center;
}