.container{
    background-color: #fff;
    width: 70%;
    min-width: 420px;
    padding: 35px 50px;
    transform: translate(-50%,-50%);
    position: absolute;
    left: 50%;
    top: 40%;
}

form{
    width: 100%;
    position: relative;
    margin: 30px auto 0 auto;
}

.row{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    grid-gap: 20px 30px;
    margin-bottom: 20px;
}

label{
    color: #606060;
    font-size: 14px;
}

textarea,
input{
    width: 100%;
    font-weight: 400;
    padding: 8px 10px;
    border: 1.2px solid #999;
    margin-top: 5px;
}

textarea{
    resize: none;
}

textarea:focus,
input:focus{
    outline: none;
    border-color: #111;
}
button{
    color: #111;
    background-color: #fff;
    border: 1.4px solid #000;
    padding: 10px 20px;
    outline: none;
}