*{ padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    background-color: #fff;
    text-align: center;
    padding: 40px;
}

@font-face {
    font-family: 'montserrat';
    src: url('Montserrat-Bold.otf');
}

@font-face {
    font-family: 'montserrat1';
    src: url('Montserrat-Regular.ttf');
}

@font-face {
    font-family: 'montserrat2';
    src: url('Montserrat-Light.otf');
}

h1 {
    color: #111;
    font-family: 'montserrat';
    src: url('Montserrat-Bold.otf') format('opentype');
    font-size: 40px;
    text-align: center; 
}

p {
    color: #666;
    font-family: 'montserrat1';
    src: url('Montserrat-Regular.ttf') format('opentype');
    font-size: 10px;
    text-align: center;
}

.page-collection {
    text-decoration: none;
    margin-right: 16px;
    font-family: 'montserrat2';
    src: url('Montserrat-Light.otf');
    color: #111;
    font-size: 14px;
    margin-top: 4px;
}

.image-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'montserrat';
    src: url('Montserrat-Bold.otf');
    gap: 30px;
}