*{ padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body{
    background-color: #fff;
    text-align: center;
    padding: 40px;
}

@font-face{
    font-family: 'montserrat';
    src: url('Montserrat-Bold.otf');
}

@font-face{
    font-family: 'montserrat1';
    src: url('Montserrat-Regular.ttf');
}

@font-face{
    font-family: 'montserrat2';
    src: url('Montserrat-Light.otf');
}

h1{
    color: #111;
    text-align: center;
    font-family: 'montserrat';
    src: url('Montserrat-Bold.otf') format('opentype');
    font-size: 40px;
}

p{
    color: #666;
    text-align: center;
    font-family: 'montserrat1';
    src: url('Montserrat-Regular.ttf') format('opentype');
    font-size: 10px;
}

nav{
    width: 40vw;
    min-width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

a{
    color: #111;
    position: relative;
    text-decoration: none;
    font-family: 'montserrat2';
    src: url('Montserrat-Light.otf');
    font-size: 14px;
    letter-spacing: 0.2px;
    padding: 10px;
}

a:after{
    content: "";
    position: absolute;
    background-color: #B4B7D9;
    height: 2px;
    width: 0;
    left: 0;
    bottom: -2px;
    transition: 0.2s;
}

a:hover{
    color: #69658C;
}

a:hover:after{
    width: 100%;
}

.HIStory{
    display: flex;
    flex-direction: column;
    font-family: 'montserrat';
    src: url('Montserrat-Bold.otf');
    margin-top: 14px;
    gap: 12px;
}